<html>

<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<style>
body {
  font-size: 12px;
  color: #222;
  background: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 20px;
  line-height: 1.2;
}
h1,h2 { font-weight: normal; }
h1    { font-size: 2.5em; margin-bottom: 1em; }
h2    { font-size: 1.5em; margin-bottom: 0.75em; }
p     { margin: 0 0 0.75em; line-height: 120%; }
ul    { padding: 0; margin: 1em 0 1em 0; list-style-type: disc; }
ul li { margin: 0 0 0.25em 2.5em; }
dl    { margin: 0 0 1em 0; }
dl dt { font-weight: bold; margin: 0 0 0.25em 0; }
dd    { margin: 0 0 0.25em 1.5em; }
table { margin: 1em 0 1em 0; width: 100%; }
th    { font-weight: bold; text-align: right; }
th,td { padding: 0 0.75em 0.25em 0.75em; margin: 0; font-size: 12px; }
li    { margin: 10px 0; }
</style>
</head>

<body>
  <h4><center>Alluxio Open Foundation</center></h4>

  <h4><center>Individual Contributor License Agreement</center></h4>

  <p>You accept and agree to the following Individual Contributor License Agreement (<b>“Agreement”</b>)
    for Your present and future Contributions submitted to the Alluxio Open Foundation
    (<b>“Foundation”</b>). In return, the Foundation shall not use Your Contributions in a way that is contrary
    to the public benefit or inconsistent with its nonprofit status and bylaws in effect at the time of the
    Contribution. Except for the license granted herein to the Foundation and recipients of software
    distributed by the Foundation, You reserve all right, title, and interest in and to Your Contributions.</p>

 <ol>
   <li><b>Definitions</b>
     <br/>
     “Contribution” shall mean any original work of authorship, including any modifications or additions
     to an existing work, that is intentionally submitted by You to the Foundation for inclusion in, or
     documentation of, any of the products owned or managed by the Foundation (the “Work”). For the
     purposes of this definition, “submitted” means any form of electronic, verbal, or written
     communication sent to the Foundation or its representatives, including but not limited to
     communication on electronic mailing lists, source code control systems, and issue tracking systems
     that are managed by, or on behalf of, the Foundation for the purpose of discussing and improving the
     Work, but excluding communication that is conspicuously marked or otherwise designated in
     writing by You as “Not a Contribution.”
   </li>
   <li><b>Grant of Copyright License.</b> Subject to the terms and conditions of this Agreement, You hereby
     grant to the Foundation and to recipients of software distributed by the Foundation a perpetual,
     worldwide, non-exclusive, no-charge, royalty-free, irrevocable copyright license to reproduce,
     prepare derivative works of, publicly display, publicly perform, sublicense, and distribute Your
     Contributions and such derivative works.
   </li>
   <li><b>Grant of Patent License</b>. Subject to the terms and conditions of this Agreement, You hereby
     grant to the Foundation and to recipients of software distributed by the Foundation a perpetual,
     worldwide, non-exclusive, no-charge, royalty-free, irrevocable (except as stated in this section)
     patent license to make, have made, use, offer to sell, sell, import, and otherwise transfer the Work,
     where such license applies only to those patent claims licensable by You that are necessarily
     infringed by Your Contribution(s) alone or by combination of Your Contribution(s) with the Work to
     which such Contribution(s) were submitted. If any entity institutes patent litigation against You or
     any other entity (including a cross-claim or counterclaim in a lawsuit) alleging that Your
     Contribution, or the Work to which You have contributed, constitutes direct or contributory patent
     infringement, then any patent licenses granted to that entity under this Agreement for that
     Contribution or Work shall terminate as of the date such litigation is filed.
   </li>
   <li>You represent that You are legally entitled to grant the licenses granted herein. If Your
     employer(s) has rights to intellectual property that You create that includes Your Contributions, You
     represent that You have received permission to make Contributions on behalf of that employer, that
     Your employer has waived such rights for Your Contributions to the Foundation, or that Your
     employer has executed a separate Contributor License Agreement with the Foundation.
   </li>
   <li>You represent that each of Your Contributions is Your original creation (see section 7 for
     submissions on behalf of others). You represent that Your Contribution submissions include
     complete details of any third-party license or other restriction (including, but not limited to, related
     patents and trademarks) of which You are personally aware and which are associated with any part
     of Your Contributions.
   </li>
   <li>You are not expected to provide support for Your Contributions, except to the extent You desire
     to provide support. You may provide support for free, for a fee, or not at all. Unless required by
     applicable law or agreed to in writing, You provide Your Contributions on an “AS IS” BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied,
     including, without limitation, any warranties or conditions of TITLE, NON- INFRINGEMENT,
     MERCHANTABILITY, or FITNESS FOR A PARTICULAR PURPOSE.
   </li>
   <li>Should You wish to submit work that is not Your original creation, You may submit it to the
     Foundation separately from any Contribution, identifying the complete details of its source and of
     any license or other restriction (including, but not limited to, related patents, trademarks, and license
     agreements) of which You are personally aware, and conspicuously marking the work as “Submitted
     on behalf of a third-party: [name here]”.
   </li>
   <li>You agree to notify the Foundation of any facts or circumstances of which You become aware that
     would make these representations inaccurate in any respect.
   </li>
 </ol>

 <p>
   The Effective Date of this Agreement is the date contained herein
 </p>
<table>
  <tr>
    <th>Username</th>
    <td><%= username %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= email %></td>
  </tr>
  <tr>
    <th>Company</th>
    <td><%= company %></td>
  </tr>
  <tr>
    <th>Date</th>
    <td><%= Time.now.strftime('%m/%d/%Y') %></td>
  </tr>
</table>

  <p>
    You accept and agree to the terms and conditions set forth in this Agreement by providing an electronic signature.
  </p>
  <br/>
  <table>
    <tr>
      <th>By:</th>
      <td>______________________</td>
    </tr>
    <tr>
      <th>Name:</th>
      <td>______________________</td>
    </tr>
    <tr>
      <th>Title:</th>
      <td>______________________</td>
    </tr>
  </table>
</body>
</html>
